* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #0f1111;
    color: white;
    height: 50px;
}

a {
    margin-right: 150px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.logo {
    color: #f08804;
}

button {
    background-color: #f08804;
    color: white;
}

.content {
    height: 450px;
}

.contentBox {
    padding: 5px;
    margin: 10px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}


footer {
    text-align: center;
    background-color: #0f1111;
    color: white;

}